.main {
  display: flex;
  flex-direction: column;
}

.description{
  background-color: $light-gray;
}
.functioning {
  justify-content: space-around;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
}
