.logo {
  margin-top: 6%;
  margin-bottom: 4%;
}

.local{
  flex-direction: row;
  justify-content: center;
  @include shadow-top;
  & i{
    align-self: center;
    margin-top: -2%;
    position: absolute;
    left:110px;
  }
}

.description{
  background-color: $light-gray;
}

.functioning {
  justify-content: space-around;
  margin-bottom: 19%;
  @include desktop-only{
    margin-bottom: $spacebot;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
}
