@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@keyframes btn-cta {}
body {
  box-sizing: border-box;
  background: white;
}

.loader {
  animation: pop 3s ease-in forwards;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.loader__circle {
  border: 7px solid #FF79DA;
  border-top-color: #ff88de;
  border-left-color: #ffbbec;
  border-bottom-color: #ffbbec;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  animation: spin 900ms linear 1s infinite;
}
.loader__circle--small {
  border: solid 3px #99E2D0;
  border-top-color: #c1ede2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  animation: spin 900ms linear 1s infinite reverse;
}
.loader__circle--xsmall {
  border: solid 1px #9b63df;
  border-top-color: #d1b7f0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  animation: spin 900ms linear 1s infinite reverse;
}
.loader__icone {
  width: 150px;
  height: 50px;
  position: absolute;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.fa-utensils {
  position: relative;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 120px;
  color: #9356DC;
}

@keyframes pop {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}

.heading {
  margin-left: 2%;
  margin-top: 8%;
}

.item {
  font-size: 16px;
  font-weight: 500;
}
.item__subtitle {
  font-weight: 300;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

.local, .description {
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  color: white;
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  box-shadow: 4px 5px 2px #e8e8e8;
  border-radius: 50px;
  padding: 3% 5%;
  margin-top: 8%;
  margin-bottom: 10%;
  width: 210px;
  align-self: center;
  font-size: 14px;
}
.btn:hover {
  background: linear-gradient(to top, #9b63df, #ff88de);
  box-shadow: 2px 4px 5px 2px #cfcfcf;
}

.btn-check {
  color: white;
  background-color: #99E2D0;
  border: transparent;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.grid--menu {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: -12%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  border-radius: 20px;
  background-color: white;
  margin: 2%;
}
.item--menu {
  width: 100%;
}

.item__figure {
  flex: 60%;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
}

.item__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 190px;
  object-position: bottom;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.item__body {
  display: flex;
  flex: 25%;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.item__title {
  margin: 0%;
}

.item__subtitle {
  margin: 0%;
}

.item__header {
  display: flex;
  flex-direction: column;
}

.item__actions {
  position: relative;
  cursor: pointer;
}
.item__actions:hover > .item__btn--mov {
  transform: scaleY(1);
  animation: mov 1000ms ease-in-out;
  animation-fill-mode: both;
}

.item__btn {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0% 2%;
  position: absolute;
  z-index: 200;
}
.item__btn--mov {
  position: relative;
  z-index: 100;
  color: #9356DC;
  opacity: 0;
}

@keyframes mov {
  0% {
    transform: scaleY(0);
  }
  90%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
.item__tag {
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  margin: 5%;
  padding: 1.5% 2% 1% 2%;
  font-size: 12px;
  border-radius: 2px;
}

.logo {
  margin-bottom: 1%;
  padding: 5%;
}

ol {
  margin: auto;
  width: 280px;
}

li {
  list-style-type: none;
  display: flex;
  width: 100%;
}

.step {
  display: flex;
  flex-direction: row;
}

.step__num {
  position: relative;
  left: 10px;
  padding: 1% 1.9%;
  font-size: 10px;
  color: white;
  background-color: #9356DC;
  border-radius: 80px;
  align-self: center;
}

.step__text {
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 8% 12%;
  flex: 60%;
  box-shadow: 4px 5px 2px #e8e8e8;
}

.list__step i {
  margin-right: 10%;
  font-size: 16px;
  font-weight: 700;
  color: dimgray;
}
.list__step:hover i {
  color: #9356DC;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  display: flex;
  justify-content: center;
}

.page__nav i {
  position: absolute;
  align-self: center;
  margin-left: -80%;
}

.page__nav h1 {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0%;
}

.local {
  background-color: #e8e8e8;
}

footer {
  background-color: #292929;
  padding-top: 2%;
  padding-bottom: 0px;
  width: 100%;
  color: white;
}

.footer__list h4 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin-bottom: 5%;
}

.main {
  display: flex;
  flex-direction: column;
}

.description {
  background-color: whitesmoke;
}

.functioning {
  justify-content: space-around;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.heading--brand {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0%;
  margin-left: 8%;
  margin-right: 8%;
}

.section-menu {
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 6%;
  margin-bottom: 0%;
}

.menu-underline {
  margin: -13px 5% 5% 6%;
  font-size: 16px;
  font-weight: 900;
  color: #99E2D0;
}

.card {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 3%;
  margin-left: 4%;
  margin-right: 4%;
  width: 90%;
  height: 79.5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 5px 2px #e8e8e8;
  white-space: nowrap;
}
.card:hover + card__actions {
  transform: scale(1);
}
.card__header {
  flex: 1;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
}
.card__title {
  width: 80%;
  margin-bottom: 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__subtitle {
  width: 80%;
  margin-top: 1%;
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__price {
  width: 20px;
  margin: auto;
  align-self: center;
  justify-self: flex-end;
}
.card__actions {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 90px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  height: 79.5px;
  margin-left: 4%;
  transform: scale(1);
  transition: transform 1000ms;
}
.card__actions button ::before {
  opacity: 0;
}
.card__actions button ::after {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
