.grid {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  padding-bottom: 5%;
  &--menu {
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: -13.5%;
    @include tablette-only {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    @include desktop-only{
      background-color:hsla(0, 0%, 90%, 0.85);
      animation: fade-in-bottom 1200ms cubic-bezier(0.39, 0.575, 0.565, 1) 100ms both;
      margin-top: -10%;
      margin-bottom: 2%;
    }
  }
}

.restaurants .grid {
  @include tablette-only {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 89%;
  align-self: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: $shadow;
  margin-bottom: 6%;
  &:hover{
    box-shadow: $shadow-hover;
  }
  &--menu {
    width: 100%;
  }
  @include tablette-only {
    width: 40%;
  }
  @include desktop-only {
    width: 29%;
    margin: 4.5%;
  }
}

.item__figure {
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
}

.item__img {
  @include image-grid;
  &--position{
    object-position: 50% 60%;
  }
}


.item__body {
  display: flex;
  flex: 25%;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.item__title {
  margin: 0%;
}

.item__subtitle {
  margin: 0%;
}

.item__header {
  display: flex;
  flex-direction: column;
}
.item__actions {
  position: relative;
  cursor: pointer;
  &:hover {
    & > .item__btn--mov {
      animation: mov 500ms ease-in-out both;
    }
  }
}

.item__btn {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0% 2%;
  position: absolute;
  z-index: 200;
  padding: 2%;
}
.item__btn--mov {
  @include btn-heart;
  position: relative;
  z-index: 100;
  opacity: 0;
}


.item__tag {
  position: absolute;
  background-color: $colour-tertiary;
  color: darken($color: $colour-tertiary, $amount: 35%);
  margin: 5%;
  padding: 1.5% 2% 1% 2%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  @include tablette-only {
    margin: 2%;
  }
  @include desktop-only {
    padding: 1% 1.5% 0.5% 1.5%;
    border-radius: 2px;
  }
}
