.grid {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  padding-bottom: 5%;
  &--menu{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    margin-top: -12%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: $shadow;
  margin: 2%;
  &--menu{
    width: 100%;
  }
}

.item__figure {
  flex: 60%;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
}

.item__img {
  @include image-grid;
}


.image {
  @include image;
}

.item__body {
  display: flex;
  flex: 25%;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.item__title {
  margin: 0%;
}

.item__subtitle {
  margin: 0%;
}

.item__header{
  display: flex;
  flex-direction: column;
}
.item__actions{
  position: relative;
  cursor: pointer;
  &:hover{
    & > .item__btn--mov{
      animation: mov 500ms ease-in-out both;
    }
  }
}

.item__btn {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0% 2%;
  position: absolute;
  z-index: 200;
  padding: 2%;
  
}
.item__btn--mov{
  @include btn-heart;
  position: relative;
  z-index: 100;
  opacity: 0;
}

@keyframes mov{
  0%{
    transform: scaleY(0);
  }
  90%,100%{
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}

.item__tag{
  position: absolute;
  background-color: $colour-tertiary;
  color: darken($color:$colour-tertiary, $amount: 35%);
  margin: 5%;
  padding: 1.5% 2% 1% 2%;
  font-size: 12px;
  border-radius: 2px;
}