ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 0%;
  width: 100%;
  
  @include desktop-only{
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
    justify-content: space-around;
  }
}
li{
    list-style-type: none;
    display: flex;
    width: 80%;
  }
.step {
  display: flex;
  flex-direction: row;
}
.step__num {
  position: relative;
  left: 10px;
  padding: 1% 1.9%;
  font-size: 10px;
  color: white;
  background-color: $colour-primary;
  border-radius: 80px;
  align-self: center;
}
.step__text {
  background-color: $light-gray;
  border-radius: 20px;
  padding: 8% 12%;
  flex: 60%;
  box-shadow: 4px 5px 2px $medium-gray;
  &:hover{
    background-color: hsla(267, 66%, 60%, 0.1);
  }
}
.list__step {
  & i{
    margin-right: 10%;
    font-size: 16px;
    font-weight: 700;
    color: darken($medium-gray, 50%);
  }
    &:hover i{
      color: $colour-primary;
    }
}
