@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

body{
    font-family: $font-primary;
}

header{
    text-align: center;
}

h1 {
    font-family: $font-brand;
    font-size: 25px;
}

.heading{
    @include section-title;
}

.item{
    font-size: 16px;
    font-weight: 500;
    &__subtitle{
        font-weight: 300;
    }
}

h4{
    font-size: 14px;
    font-weight: 500;
}

h5{
    font-size: 12px;
    font-weight: 500;
}

.local , .description{
    margin: auto;
    text-align: center;
}
.description .heading{
    align-self: center;
    width: 50%;
    @media (min-width: 768px){
        width: 90%;
    }
}
.description .item__subtitle{
    align-self: center;
    width: 70%;
}
a{
    text-decoration: none;
    color: black;
}