@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

body{
    font-family: $font-primary;
}

header{
    text-align: center;
    @include desktop-only{
        font-size: 28px;
    }
}

.heading{
    padding-left: $padding-section;
    margin-top: 12%;
    @include tablette-only{
        margin-bottom: 7%;
    }
    @include desktop-only{
        margin-top: 6%;
    }
    &--center{
        align-self: center;
        width: 250px;
        padding-left: 0%;
        margin-top: 10%;
        @include tablette-only{
            width: 90%;
        }
    }
}
.logo{
    font-size: 29px;
    font-family: $font-brand;
    @include tablette-only{
        margin: 3%;
    }
    @include desktop-only{
        margin: 2%;
    }
}
.item{
    font-size: 16px;
    font-weight: 500;
    @include desktop-only{
        font-size: 20px;
    }
    &__title{
        @include desktop-only{
            font-size: 20px;
        }
    }
    &__subtitle{
        font-size: 18px;
        font-weight: 300;
        @include desktop-only{
            font-weight: 400;
            font-size: 18px;
        }
    }
}


h5{
    font-size: 12px;
    font-weight: 500;
}

.local , .description{
    margin: auto;
    text-align: center;
}

.local h4{
    margin: 4%;
    @include tablette-only{
    font-size: 12px;
    margin-bottom: 1%;
    margin-top: 1%;
    }
}
.description .heading{
    align-self: center;
    width: 50%;
    @include tablette-only{
        width: 90%;
    }
}
.description .item__subtitle{
    align-self: center;
    width: 90%;
    @include tablette-only{
        width: 90%;
    } 
}
a{
    text-decoration: none;
    color: black;
}
