@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");

body{
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 25px;
}

h2{
    margin-left: 2%;
}
.text__heading{
    font-size: 16px;
    font-weight: 500;
    &--byline{
        font-weight: 300;
    }
}

h4{
    font-size: 14px;
    font-weight: 500;
}

h5{
    font-size: 12px;
    font-weight: 500;
}

.local , .description{
    margin: auto;
    text-align: center;
}