//Les boutons
@mixin btn {
  color: white;
  cursor: pointer;
  background: $color-btn;
  border: none;
  box-shadow: $shadow;
  border-radius: 50px;
  padding: 14px 7%;
  margin-top: 8%;
  margin-bottom: 10%;
  align-self: center;
  font-size: 14px;
  @include tablette-only {
    padding: 17px 37px;
  }
}

@mixin btn-heart {
  color: black;
  cursor: pointer;
  background: $color-btn;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  padding: 3%;
  align-self: center;
  font-size: 24px;
}

@mixin btn-check {
  color: white;
  background-color: $colour-tertiary;
  border: transparent;
}

//Le texte

@mixin section-title {
  padding-left: $padding-section;
  margin-top: 8%;
  width: 100px;
}

// les images
@mixin image {
  width: 100%;
  height: 290px;
  object-fit: cover;
  @include tablette-only {
    height: 400px;
  }
}

@mixin image-grid {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 190px;
  object-position: bottom;
  object-fit: cover;
  @include tablette-only {
    height: 200px;
  }
}

//ombres générées avec cssgenerator.org
@mixin shadow-top {
    box-shadow: -1px -3px 2px 0px  darken(whitesmoke, 15%);
    -webkit-box-shadow: -1px -3px 3px 0px  darken(whitesmoke, 15%);
    -moz-box-shadow: -1px -3px 2px 0px  darken(whitesmoke, 15%);
}

//les medias queries
@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin tablette-only {
  @media screen and (min-width: map-get($breakpoints, tablette)) {
    @content;
  }
}
