$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$light-gray: whitesmoke;
$medium-gray: darken(whitesmoke, 5%);
$dark-gray: darken(whitesmoke,80%);

$font-brand: "Shrikhand", cursive;
$font-primary: 'Roboto', sans-serif;